<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Fragment>
		<FeatureGroup Id="ToolkitFeatures">
			<Feature Id="DocumentationFeature" Level="1" Absent="disallow">
				<ComponentRef Id="README" />
			</Feature>
			<Feature Id="EnvironmentSetFeature" Level="1" Absent="disallow">
				<ComponentRef Id="AddPSModulePath" />
			</Feature>
			<Feature Id="InstallerLaunchCondition" Level="1" Absent="disallow">
				<ComponentGroupRef Id="LaunchConditions" />
			</Feature>
			<Feature Id="ModulesFeature" Level="1" Absent="disallow">
				<ComponentGroupRef Id="ModulesComponentGroup" />
			</Feature>
			<Feature Id="RoundtripComponent" Level="1" Absent="disallow">
				<ComponentRef Id="c_Sample_Roundtrip.ps1" />
			</Feature>
			<Feature Id="f_PowerShell64StartMenuShortcut" Level="1" Absent="disallow">
				<ComponentRef Id="PowerShell64StartMenuShortcut" />
			</Feature>
			<Feature Id="f_PowerShell32StartMenuShortcut" Level="1" Absent="disallow">
				<ComponentRef Id="PowerShell32StartMenuShortcut" />
			</Feature>
			<Feature Id="f_PowerShell64DesktopShortcut" Level="1">
				<ComponentRef Id="PowerShell64DesktopShortcut" />
			</Feature>
			<Feature Id="f_PowerShell32DesktopShortcut" Level="1" Absent="disallow">
				<ComponentRef Id="PowerShell32DesktopShortcut" />
			</Feature>
			<Feature Id="f_RemoveInstallDIR" Level="1">
				<ComponentRef Id="c_RemoveINSTALLDIR"/>
			</Feature>
			<Feature Id="f_ModulesFolder" Level="1">
				<ComponentRef Id="c_RemoveModulesFolder"/>
			</Feature>
		</FeatureGroup>
	</Fragment>
</Wix>
