<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Fragment>
		<!-- Define the Program Menu Directory Reference -->
		<DirectoryRef Id="ApplicationProgramsFolder">
				<!-- 64-bit PowerShell 7 Start Menu Shortcut -->
				<Component Id="PowerShell64StartMenuShortcut" Guid="d737ba68-9e7b-41d2-badb-589b78a3378a">
					<!-- Only create this if 64-bit PowerShell 7 is installed -->
					<Condition><![CDATA[Installed OR POWERSHELL7_64_PATH]]></Condition>

					<Shortcut Id="StartPowerShell64StartMenuShortcut"
							  Name="Language Cloud PowerShell Toolkit"
							  Directory="ApplicationProgramsFolder"
							  Target="[ProgramFiles64Folder]PowerShell\7\pwsh.exe"
							  WorkingDirectory="INSTALLDIR"
							  Arguments="-NoExit -ExecutionPolicy Bypass"
							  Icon="Trados_LC_Toolkit.ico" />

					<!-- Remove the folder when uninstalled, will only work if no other files are in the folder -->
					<RemoveFolder Id="RemoveStartMenuShortcuts" On="uninstall"/>

					<!-- Add registry value for tracking the shortcut -->
					<RegistryValue Root="HKCU" Key="Software\Language Cloud PowerShell Toolkit" Name="PowerShell64ShortcutCreated" Type="integer" Value="1" KeyPath="yes" />
				</Component>

				<!-- 32-bit PowerShell 7 Start Menu Shortcut -->
				<Component Id="PowerShell32StartMenuShortcut" Guid="0bc56b54-3763-4718-8a53-c2d1f88b5ab4">
					<!-- Only create this if 32-bit PowerShell 7 is installed -->
					<Condition><![CDATA[POWERSHELL7_32_PATH]]></Condition>

					<Shortcut Id="StartPowerShell32StartMenuShortcut"
							  Name="Language Cloud PowerShell Toolkit (x86)"
							  Directory="ApplicationProgramsFolder"
							  Target="[ProgramFilesFolder]PowerShell\7\pwsh.exe"
							  WorkingDirectory="INSTALLDIR"
							  Arguments="-NoExit -ExecutionPolicy Bypass"
							  Icon="Trados_LC_Toolkit.ico" />

					<!-- Add registry value for tracking the shortcut -->
					<RegistryValue Root="HKCU" Key="Software\Language Cloud PowerShell Toolkit" Name="PowerShell32ShortcutCreated" Type="integer" Value="1" KeyPath="yes" />
				</Component>
		</DirectoryRef>
	</Fragment>

	<Fragment>
		<DirectoryRef Id="DesktopFolder">

			<!-- 64-bit PowerShell 7 Desktop Shortcut -->
			<Component Id="PowerShell64DesktopShortcut" Guid="ae056472-b521-41a1-9cf5-e382c4889794">
				<!-- Only create this if 64-bit PowerShell 7 is installed -->
				<Condition><![CDATA[Installed OR POWERSHELL7_64_PATH]]></Condition>

				<Shortcut Id="StartPowerShell64DesktopShortcut"
						  Name="Language Cloud PowerShell Toolkit"
						  Directory="DesktopFolder"
						  Target="[ProgramFiles64Folder]PowerShell\7\pwsh.exe"
						  WorkingDirectory="INSTALLDIR"
						  Arguments="-NoExit -ExecutionPolicy Bypass"
						  Icon="Trados_LC_Toolkit.ico" />

				<!-- Remove the folder when uninstalled, will only work if no other files are in the folder -->
				<!--<RemoveFolder Id="RemoveDesktopFolder" On="uninstall"/>-->
				<RemoveFolder Id="RemoveApplicationProgramFolder" Directory="ApplicationProgramsFolder" On="uninstall"/> <!-- Change this later -->
				<RegistryValue Root="HKCU" Key="Software\Language Cloud PowerShell Toolkit" Name="PowerShell64StartMenuShortcutCreated" Type="integer" Value="1" KeyPath="yes" />
			</Component>

			<!-- 32-bit PowerShell 7 Desktop Shortcut -->
			<Component Id="PowerShell32DesktopShortcut" Guid="9c8559cb-e1cb-473b-bc9b-7e13e3339c05">
				 
				 <!--Only create this if 32-bit PowerShell 7 is installed--> 
				<Condition><![CDATA[POWERSHELL7_32_PATH]]></Condition>

				<Shortcut Id="StartPowerShell32DesktopShortcut"
						  Name="Language Cloud PowerShell Toolkit (x86)"
						  Directory="DesktopFolder"
						  Target="[ProgramFilesFolder]PowerShell\7\pwsh.exe"
						  WorkingDirectory="INSTALLDIR"
						  Arguments="-NoExit -ExecutionPolicy Bypass"
						  Icon="Trados_LC_Toolkit.ico" />

				<RegistryValue Root="HKCU" Key="Software\Language Cloud PowerShell Toolkit" Name="PowerShell32StartMenuShortcutCreated" Type="integer" Value="1" KeyPath="yes" />
			</Component>

		</DirectoryRef>
	</Fragment>

</Wix>
